{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="post-brd">
        {% autoescape off %}
        <h4>{{post.title}}</h4>
        {{post.body}}
        <p><h5>Author: {{post.author}}</h5></p>
        {% endautoescape %}
    </div>


        <div class="card-stacked">
            {% for comment in post.comments.all%}
            <div class="card-panel grey ">
                <h5 ><i class="material-icons ">account_circle</i>{{comment.author}}</h5>
                <div class="card">
                    <div class="card-stacked ">
                        <div class="card-content flow-text grey lighten-4 ">
                            {% autoescape off %}
                            <p>{{comment.body}}</p>
                            {% endautoescape %}
                        </div>
                        
                <h2 class="header h5 right-align">{{comment.created}}</h2>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>

</div>
{% endblock body %}