{% extends 'base.html' %}
{% block body %}
<div class="container">
   <div class="card">
      <div class="card-body">
      {% autoescape off %}
      <h3 class="card-title">{{post.title}}</h3>
      <p class="card-text">{{post.body}}</p>
      <p>
      <h5></h5>
      </p>
      {% endautoescape %}
      <h6 class="card-subtitle mb-2 text-muted">Author: {{post.author}} </h6>
   </div>
   </div>


   <button  id="likes-count" class="btn btn-danger" type="submit" name="action">Like {{post.likes.count}}</button> 
   <button id="comment" class="btn btn-primary">Comment</button>
   
   <div class="card d-none" id="comment-form">
      <form>
         <div class="form-group">
         <label >Author</label>
         <input id="author" type="author"class="form-control">
         </div>
         <div class="form-group">
         <label>Body</label>
         <textarea class="form-control" id="body"> </textarea>
         </div>
         <input id="post_id" type="hidden" value={{ post.id }}>
         <button type="submit" class="btn btn-primary">Submit</button>
      </form>
   </div>


<div id="comments">
   <!--
   {% for comment in post.comments.all.reverse%}
   <div class="card p-1">
      <div class="card-header">
         {{comment.author_comment}}
       </div>
      <div class="card-body">
        <p class="card-text">
         {% autoescape off %}
         <p>{{comment.body}}</p>
         {% endautoescape %}
        </p>
      </div>
      
      <h6 class="card-subtitle mb-2 text-muted">{{comment.created}}</h6>
    </div>
    {% endfor %}
   -->
</div>

<div><a class="btn btn-info" id="lazy-comments" href="javascript:void(0);" data-page="2">Load More Posts</a></div>

</div>
{% endblock body %}